<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
    	{% block body %}{% endblock %}<br>
    	<div class="footer" id="footer">
    		This Task Manager is Powered By <a href="//amanojha.xyz" class="name"><b>Aman Ojha</b></a>
    	</div>
    </div>

    <div class="dangercontt" id="namee">
    	
    </div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>